<!DOCTYPE html>
<html>
<head>
	<title>Insulin Dose Calculator</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.23/css/bulma.min.css">

	<!-- JS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
</head>
<body>

<div class="container">

	<h1 class="title is-1 has-text-centered">Insulin Dose Calculator</h1>

	<div class="columns">
		
		<div class="column abc" id="m_box">
			<a href="/mealstandard"><h3 class="title is-4">Mealtime insulin dose - standard insulin sensitivity</h3></a>
		</div>

		<div class="column abc" id="b_box">
			<a href="/background"><h3 class="title is-4">Background insulin dose</h3></a>
		</div>

		<div class="column abc" id="p_box" style="background: #A2A2A2;">
			<a href="/mealpersonal"><h3 class="title is-4">Mealtime insulin dose - personal insulin sensitivity</h3></a>
		</div>
	</div>

	<div class="columns">
		<div class="column abc" id="third">
			<h3 class="title is-4">Personal Sensitivity to Insulin</h3>

			<!--  	Notification section. Implemented but not used. Bug: Las element to be filled in should trigger notification onblur.
					Problem is that onblur cannot happen precisely because it is the last element. (Next click should be submit button (disabled)). -->
			<!-- 
			<div class="notification is-danger is-hidden" id="notif-7">
			  <button class="delete" onclick="hideParent('#notif-7')"></button>Activity level out of range. Valid values in range 0-10. 0 being no activity, 10 being very high physical activity.
			</div>

			<div class="notification is-danger is-hidden" id="notif-8">
			  <button class="delete" onclick="hideParent('#notif-8')"></button>K samples of physical activity level out of range. Valid values in range 0-10. 0 being no activity, 10 being very high physical activity.
			</div>

			<div class="notification is-danger is-hidden" id="notif-9">
			  <button class="delete" onclick="hideParent('#notif-9')"></button>K samples of drops in blood sugar out of range. Valid values in range 15mg/dl - 100mg/dl.
			</div>
			-->
			<form action="/mealtimePersonal" method="post" id="myForm" >
				
				<label class="label">Total Carbohydrates</label>
				<p class="control">
					<input autocomplete="off" class="input" type="text" name="totalCarbs" placeholder="60g - 120g" onkeyup="verifyField(60,120,event)">
				</p>

				<label class="label">Total grams of carbs processed by 1 unit of insulin</label>
				<p class="control">
					<input autocomplete="off" class="input" type="text" name="totalGrams" placeholder="10g/unit - 15g/unit" value="12" onkeyup="verifyField(10,15,event)">
				</p>

				<label class="label">Blood sugar level before meal</label>
				<p class="control">
					<input autocomplete="off" class="input" type="text" name="bloodSugar" placeholder="120mg/dl - 250mg/dl" onkeyup="verifyField(120,250,event)">
				</p>

				<label class="label">Target blood sugar before meal</label>
				<p class="control">
					<input autocomplete="off" class="input" type="text" name="targetSugar" placeholder="80mg/dl - 120mg/dl" onkeyup="verifyField(80,120,event)">
				</p>

				<!-- Physical activity section -->
				<label class="label">Todays's activity level</label>
				<p class="control">
					<input autocomplete="off" class="input" type="text" name="activityLevel" placeholder="0 - 10" onkeyup="verifyField(0,10,event)">
				</p>

				<label class="label">K Samples of past physical activity</label>
				<p class="control">
					<div class="columns" id="physicalSample">
						
						<div class="column is-2">
							<h6 class="subtitle is-6">Number of Samples</h6>
							<input autocomplete="off" class="input" type="text" name="kSamples" id="kSamples" placeholder="2 - 10" onkeyup="setNSamplesVisible(event)" />
						</div>

					</div>
				</p>


				<!-- Drops in blood sugar section -->
				<label class="label">K Samples of drops in blood sugar</label>

				<p class="control">						
					<div class="columns" id="bloodSample">
						
						<div class="column is-2">
							<h6 class="subtitle is-6">Number of Samples</h6>
							<input autocomplete="off" class="input" type="text" name="kBloodSamples" id="kBloodSamples" placeholder="2 - 10" onkeyup="setNSamplesVisible(event)" />
						</div>
					</div>
				</p>
				<p class="control">
					<button class="button is-primary" id="button" disabled="disabled">Calculate insulin dose</button>
					<a class="button is-link" onclick="resetform()">Clear</a>
				</p>
			</form>
		</div>
	</div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename='js/js-functions.js') }}"></script>

</body>
</html>